/* RESET */

*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

/* CONTAINER PRINCIPALE */

.container_principale{
    width: 80%;
    margin: auto;
    padding: 2% 0;
    
    
}
/* immagine dietro */
.prima{
    display:none;
}

/* immagine davanti */
.seconda{
    display:inline-block;
}

/* hover */
.items:hover .prima{
display:inline-block;
}
.items:hover .seconda{
    display:none;
    }


/* grandezza prima riga */
.raw{
    width: 100%;
    padding: 30px;
  
    
}
/* grandeza per ogni immagine */
.items{
    width: 32%;
    display: inline-block;
    position: relative;

}

/* padding nella seconda immagine */
.items{
    margin:0 5px;
}


/* le immagini devono stare dentro al 100% di items */
img{
    width: 100%;
}

/* quadrato */
.square{
    width:40px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 2%;
    right:0;

}

/* didascalia */
.didascalia{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left:0px;
    color: white;
    text-align: left;

    
}

/* sconto */
.sconto{
    display:inline-block;
    width: 40px;
    background-color:red;
    text-align: center;
}

/* sostenibilità */
.sostenibilità{
    display:inline-block;
    width: 100px;
    background-color:green;
    text-align: center;
}

.footer{
    text-align: left;
   
}

/* price color red and underline  */
.price{
    color: red;
    font-weight: 600;
}
.price_underline{
    text-decoration: line-through;
    color:#565954;
    font-weight: 100;
}