/* RESET */

*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

/* CONTAINER PRINCIPALE */

.container_principale{
    width: 80%;
    margin: auto;
    padding: 2% 0;
    /* test */
    background-color:pink;
    border: 3px solid black;
}
/* immagine dietro */
.prima{
    display:none;
}

/* immagine davanti */
.seconda{
    display:block;
}


/* grandezza prima riga */
.raw{
    width: 100%;
    /* test */
    background-color: greenyellow;
    text-align: center;
    
}
/* grandeza per ogni immagine */
.items{
    width: 32%;
    display: inline-block;
    position: relative;

   /* test */
   border: 5px solid black;
}

/* padding nella seconda immagine */
.items{
    margin:0 5px;
}


/* le immagini devono stare dentro al 100% di items */
img{
    width: 100%;
}

/* quadrato */
.square{
    width:40px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 2%;
    right:0;

}

/* didascalia */
.didascalia{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left:0px;
    color: white;
    text-align: left;

    /* test */
    border: 1px solid red;
}

/* sconto */
.sconto{
    display:inline-block;
    width: 40px;
    background-color:red;
    text-align: center;
}

/* sostenibilità */
.sostenibilità{
    display:inline-block;
    width: 100px;
    background-color:green;
    text-align: center;
}

.footer{
    text-align: left;
    /* test */
    border: 1px solid red;
}
